<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>BONDA</title>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }
        .inner{
            width: 1550px;
            height: 100px;
            background-color: pink;
            position: relative;
        }
        .logo{
            display: flex;
            position: absolute;
            top: 30px;
            left: 50px;
        }
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
        .container >.title{
            margin-right: 50px;
           
        }

        .container >.title:last-child {
            margin-right: 0px;
        }

        .container > .title > h5:hover{
            color:red;
            cursor: pointer;
        }
        .mycards{
            margin: 30px 50px  auto 50px;
        }

    </style>
    <script>

    </script>
</head>

<body>
    <div class="inner">
        <div class="logo">
            <h2>BONDA</h2>
        </div>
    </div>
    <div class="container">
        <div class="title">
            <h5>전체</h5>
        </div>
        <div class="title">
            <h5>현재전시</h5>
        </div>
        <div class="title">
            <h5>예정전시</h5>
        </div>
        <div class="title">
            <h5>지역 +</h5>
        </div>
    </div>
    <div class="mycards">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
            <div class="col">
                <div class="card h-100">
                    <img src="https://cmoa.cheongju.go.kr/DATA/upload/db12d84f-d679-458e-9967-34f0547c98e5.jpg"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">전시회 제목이 들어갑니다</h5>
                        <p class="card-text">여기에 전시회에 대한 설명이 들어갑니다.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://cmoa.cheongju.go.kr/DATA/upload/db12d84f-d679-458e-9967-34f0547c98e5.jpg"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">전시회 제목이 들어갑니다</h5>
                        <p class="card-text">여기에 전시회에 대한 설명이 들어갑니다.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://cmoa.cheongju.go.kr/DATA/upload/db12d84f-d679-458e-9967-34f0547c98e5.jpg"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">전시회 제목이 들어갑니다</h5>
                        <p class="card-text">여기에 전시회에 대한 설명이 들어갑니다.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://cmoa.cheongju.go.kr/DATA/upload/db12d84f-d679-458e-9967-34f0547c98e5.jpg"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">전시회 제목이 들어갑니다</h5>
                        <p class="card-text">여기에 전시회에 대한 설명이 들어갑니다.</p>
                    </div>
                </div>
            </div>
            <div class="card_item"> 
                <div class="data_area"> 
                    <a nocr="" onclick="return goOtherCR(this, 'a=nco_xb0*L.runimage&amp;r=1&amp;i=88175e92_000000000000&amp;u=' + urlencode(this.href));" href="?where=nexearch&amp;sm=tab_etc&amp;mra=bjBC&amp;pkid=360&amp;os=25468535&amp;qvt=0&amp;query=%ED%98%B8%ED%98%B8%EB%9E%91%ED%98%B8%EB%9E%91%EC%9D%B4" class="img_box"><img src="https://search.pstatic.net/common?type=ofullfill&amp;size=138x200&amp;quality=95&amp;direct=true&amp;src=https%3A%2F%2Fcsearch-phinf.pstatic.net%2F20211210_161%2F1639104121855QW0ee_JPEG%2F360_main_thumb_url_1639104121840.jpg" width="69" height="100" alt="호!호랑!호랑이!">
                    </a> 
                    <div class="data_box"> 
                        <div class="title"> 
                            <div class="area_text_box "> 
                                <strong class="this_text">
                                    <a nocr="" onclick="return goOtherCR(this, 'a=nco_xb0*L.runtitle&amp;r=1&amp;i=88175e92_000000000000&amp;u=' + urlencode(this.href));" href="?where=nexearch&amp;sm=tab_etc&amp;mra=bjBC&amp;pkid=360&amp;os=25468535&amp;qvt=0&amp;query=%ED%98%B8%ED%98%B8%EB%9E%91%ED%98%B8%EB%9E%91%EC%9D%B4">
                                        호!호랑!호랑이!
                                    </a>
                                </strong> 
                            </div> 
                        </div> 
                        <div class="info"> 
                            <dl class="info_group"> 
                                <dt>기간</dt> 
                                <dd class="no_ellip">2021.12.08.~2022.01.12.</dd> 
                            </dl> 
                            <dl class="info_group"> 
                                <dt>장소</dt> 
                                <dd class="no_ellip">
                                    <a nocr="" onclick="return goOtherCR(this, 'a=nco_xb0*L.runplace&amp;r=1&amp;i=88175e92_000000000000&amp;u=' + urlencode(this.href));"  href="http://map.naver.com/index.nhn?pinType=site&amp;mapMode=0&amp;pinId=1536618669" target="_blank">
                                        슈페리어갤러리
                                    </a>
                                </dd> 
                            </dl> 
                        </div> 
                    </div> 
                </div> 
                <div class="button_area"> 
                    <a nocr="" onclick="return goOtherCR(this, 'a=nco_xb0*L.runmap&amp;r=1&amp;i=88175e92_000000000000&amp;u=' + urlencode(this.href));" href="http://map.naver.com/index.nhn?pinType=site&amp;mapMode=0&amp;pinId=1536618669" class="btn_place">
                        지도
                    </a> 
                </div> 
            </div>
            
        </div>
    </div>
    
</body>

</html>